.footer_container{
    background-color: #0f2e59;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

.copyrights{
    color:#fff;
}

.socialLinks{
    display: flex;
    gap:0.5rem;
    color:#fff;
}